/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.typekit.net/hyi2lzt.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v11/zOL64pLDlL1D99S8g8PtiKchq-dmiA.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v19/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e0.ttf) format('truetype');
}
header {
  width: 100%;
  background: linear-gradient(0deg, rgba(128, 128, 128, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../img/AdobeStock_188698373\ 2.png) center;
}
header .title {
  margin-left: 10%;
  padding-top: 50px;
}
header .title h1 {
  font-family: cortado, sans-serif;
  color: #EF019F;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 90px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 500px) {
  header .title {
    text-align: center;
  }
}
header .slogan {
  padding: 10px 0;
  padding-left: 10%;
  background-color: rgba(0, 0, 0, 0.2);
  width: 25%;
  margin: 50px 0;
}
header .slogan h2 {
  font-family: 'Abril Fatface', cursive;
  color: #FFFFFF;
  font-size: 2rem;
}
@media (max-width: 500px) {
  header .slogan {
    width: 70%;
  }
}
@media (max-width: 800px) {
  header .slogan {
    width: 35%;
  }
}
header .lower {
  padding: 10px 0;
  padding-left: 10%;
  background-color: rgba(0, 0, 0, 0.2);
  width: 25%;
  margin: 50px 0;
}
header .lower h3 {
  font-family: 'Abril Fatface', cursive;
  color: #FFFFFF;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  header .lower {
    width: 70%;
  }
}
@media (max-width: 800px) {
  header .lower {
    width: 35%;
  }
}
header .button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
header .button-container button {
  background: #ef019f;
  background: linear-gradient(90deg, rgba(239, 1, 159, 0.5) 0%, rgba(253, 29, 222, 0.5) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 30px 40px;
  margin-bottom: 50px;
  font-size: 1.3rem;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-right: 10%;
}
header .button-container button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media (max-width: 500px) {
  header .button-container button {
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  header .button-container {
    justify-content: center;
    align-items: center;
  }
}
nav {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: #EF019F;
}
nav .links {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 33%;
}
nav .links a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.3rem;
  font-family: 'Muli', sans-serif;
}
nav .links a:hover {
  transform: scale(1.1);
}
@media (max-width: 1200px) {
  nav .links {
    width: 40%;
  }
}
@media (max-width: 1000px) {
  nav .links {
    width: 45%;
  }
}
section {
  padding: 80px 0;
  background-color: #171330;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
section .body-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
}
section .top,
section .bottom {
  margin: 1% 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-between;
}
section .container {
  border: 4px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 48%;
  height: 400px;
}
section .container p {
  color: #FFFFFF;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  font-family: 'Muli', sans-serif;
  padding: 5%;
}
section .container h4 {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: none;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  padding: 10%;
}
section .container img {
  width: 30%;
}
section .container:hover {
  transform: scale(1.05);
}
section .bottom-button {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171330;
}
section .bottom-button button {
  background: #ef019f;
  background: linear-gradient(90deg, rgba(239, 1, 159, 0.5) 0%, rgba(253, 29, 222, 0.5) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px 25px;
  margin-bottom: 35px;
  font-size: 1rem;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
section .bottom-button button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #171330;
  padding-bottom: 50px;
}
footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}
footer .footer-container .copy {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer .footer-container .social-media i {
  color: #EF019F;
  font-size: 1.6rem;
  margin: 0 10px;
}
.profile {
  width: 50%;
}
.profile:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.aboutContainer {
  border: 4px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 48%;
  height: 450px;
}
p {
  color: #FFFFFF;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  font-family: 'Muli', sans-serif;
  padding: 5%;
}
h3 {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: none;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  padding: 10%;
}
