.how-it-works{
    .displayFlex(center, center);
    background-color: @cool-blue;
    padding-top: 80px;
    .container{
        width: 70%;
        .displayFlex(center, center);
        flex-direction: column;
        background-color: @white;
        padding: 20px;
        border-radius: 20px;
        h3{
            margin-bottom: 20px;
            .headerText(@header-font, black, 1.8rem);
        }
        p{
            .bodyText(1.2rem, 30px, @body-font, 0);
            color: black;
        }
    }
}

.about-section{
    background-color: @cool-blue;
    .displayFlex(center, center);
    padding-top: 50px;
    .text-container{
        .displayFlex(center, center);
        flex-direction: column;
        color: @white;
        padding: 5%;
        p{
            .bodyText(1.2rem, 40px, @body-font, 0);
        }
        h3{
            .headerText(@header-font, @white, 1.8rem);
            margin-bottom: 20px;
            letter-spacing: 2px;
            text-align: center;
            @media @tablet{
                font-size: 1.5rem;
            }
            @media @phone{
                letter-spacing: 0;
            }
        }
    }
    @media @lg-desktop{
        flex-direction: column;
    }
}

.filler{
    height: 10vh;
    background-color: @cool-blue;
}
