footer{
    display: flex;
    justify-content: center;
    background-color: @cool-blue;
    padding-bottom: 50px;
    .footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        width: 20%;
        .copy{
            color: @white;
            display: flex;
            justify-content: center;
        }
        .social-media{
            i{
                color: @plush-pink;
                font-size: 1.6rem;
                margin: 0 10px;
            }
        }
    }
    // p{
    //     color: @white;
    //     font-family: @body-font;
    // }
}
