footer{
    .displayFlex(center, flex-start);
    background-color: @cool-blue;
    padding-bottom: 50px;
    .footer-container{
        .displayFlex(center, center);
        justify-content: space-between;
        width: 20%;
        .copy{
            color: @white;
            .displayFlex(center, flex-start);
        }
        .social-media{
            i{
                color: @plush-pink;
                font-size: 1.6rem;
                margin: 0 10px;
            }
        }
    }
}
