.middle-box {
   border: 4px solid #FFFFFF;
   width: 404px;
    height: 339px;
    left: 100px;
    top: 957px;
}
h4{
    color: #FFFFFF
}
p{
   color: #FFFFFF
}

.left{
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    flex-direction: column;
}


#middle{
    background-color: @cool-blue;
    display: flex;
    flex-direction: row;
}