nav{
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: @plush-pink;
    .links{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        width: 33%;
        a{
            text-decoration: none;
            color: @white;
            font-size: 1.3rem;
            font-family: @body-font;
            &:hover{
                transform: scale(1.1);
            }
        }
        @media @md-desktop{
            width: 40%;
        }
        @media @sm-desktop{
            width: 45%;
        }
    }
}