// COLORS
// Primary Color
@cool-blue: #171330;

// Accent Color
@plush-pink: #EF019F;
@popstar-purple: #780150;

// Main Text
@white: #FFFFFF;

// Footer Menu Text
@warm-blue: #959AB1;


// FONTS
@logo-font: cortado, sans-serif;
@header-font: 'Abril Fatface', cursive;
@body-font: 'Muli', sans-serif;


